<footer id="myFooter">
  <div class="container">
    <div class="row">
      
      <div class="col-sm-3">
        <h5>About</h5>
        <ul>
          <li><a>Contact Us</a></li>
          <li><a>About Us</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>Policy</h5>
        <ul>
          <li><a>Terms Of Use</a></li>
          <li><a>Privacy</a></li>
        </ul>
      </div> 
      <div class="col-sm-3">
        <h5>Address</h5>
        <ul>
          <li>Mind Bowser Info Solutions Pvt Ltd.</li>
          <li>3rd floor, Sungrace,</li>
          <li>Survey No. 19, Rohit Nagar,</li>
          <li>Bavdhan, Pune, Maharashtra 411021, India</li>
        </ul>
      </div>
    </div>
  </div>
</footer>