#myFooter {
    background-color: #172336;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}
#myFooter .footer-copyright {
    background-color: #172336;
    padding: 10px 0;
    text-align: center;
    border-top: 1px solid #454d5e;
    color: #ccc;
    font-size: 12px;
}
#myFooter .row {
    padding: 2% 0%;
}
#myFooter li{
    font-size: 12px;
    font-weight: 400;
}
#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}
#myFooter h5 {
    font-size: 14px;
    color: white;
    font-weight: initial;
}
#myFooter a,li{
    color: #d2d1d1;
}