<nav class="navbar navbar-expand-md bg-white sticky-top" id="navbar">

  <a class="navbar-brand" routerLink="/">
    <img alt="Company Logo" src="../../assets/logo/logo.png" height="50" width="50">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <mat-icon>view_headline</mat-icon>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

    <ul class="navbar-nav ml-auto" style="padding-right: 50px;">
      <li>
        <a class="nav-link" routerLink="/">Home </a>
      </li>
      <li>
        <a class="nav-link" routerLink="/signup">Sign Up</a>
      </li>
    </ul>

  </div>


</nav>