/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: rgb(245, 245, 245);
}
.snackbar {
    color:#ffff;
    min-width: auto !important;;
}
.submit-btn {
    color: #ffffff;
    background-color: #2654a6;
    border-radius: 2px;
    width: 50%;
    padding: 4px;
}